@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color styles */
  --sage: rgba(181, 201, 127, 1);
  --taupe: rgba(63, 57, 53, 1);
  --dun: rgba(230, 204, 178, 1);
  --seasalt: rgba(247, 247, 249, 1);
  --isabelline: rgba(242, 236, 231);

  /* Font styles */

  --h1: clamp(2.5rem, 6vw + 0.5rem, 3.81rem);
  --h2: clamp(2rem, 5vw + 0.5rem, 3.06rem);
  --h3: clamp(1.6rem, 4vw + 0.5rem, 2.44rem);
  --h4: clamp(1.3rem, 3vw + 0.5rem, 1.94rem);
  --s-h1: clamp(1.1rem, 2.5vw + 0.5rem, 1.56rem);
  --s-h2: clamp(0.9rem, 2vw + 0.5rem, 1.25rem);
  --b1: clamp(0.8rem, 1.8vw + 0.5rem, 1rem);
  --b2: clamp(0.6rem, 1.5vw + 0.5rem, 0.81rem);
  --b3: clamp(0.4rem, 1vw + 0.5rem, 0.62rem);
  --title: clamp(3rem, 8vw + 0.5rem, 5.9rem);
  --hero-text: clamp(8rem, 20vw + 0.5rem, 13.62rem);
  --hero-subheading: clamp(2.5rem, 6vw + 0.5rem, 4.32rem);
}

body {
padding: 0;
margin: 0;
}

*{
  border: 1px solid red;
}

main{
  padding-left: 3vw;
  padding-right: 3vw;
  @media screen and (min-width: 768px){
    padding-left: 3svw;
    padding-right: 3svw;
  }
}