.main{
    min-height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--primary);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.container{
    width: 50%;
    margin-top: 10vh;
    @media screen and (max-width: 768px){
        width: 100%;
        
    }
}


.title{
    font-size: var(--title);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (max-width: 768px){
        font-size: var(--h1);
    }
}

.paragraph{
    font-size: var(--s-h1);
}